<div
  class="bg-[#00002C] h-screen items-center flex flex-col gap-12 pt-20 items-center"
>
  <div class="text-2xl font-bold text-white">POINT TABLE</div>
  <div class="flex justify-between gap-16">
    <span
      [ngClass]="{ 'border-b border-white text-white': active === 'eventwise' }"
      class="text-lg font-semibold focus:underline-offset-1 text-red-300"
      (click)="active = 'eventwise'"
      >EVENT WISE</span
    >
    <span
      [ngClass]="{
        'border-b border-white text-white': active === 'collegewise'
      }"
      class="text-lg font-semibold focus:underline-offset-1 text-red-300"
      (click)="active = 'collegewise'"
      >COLLEGE WISE</span
    >
  </div>
  <div class="overscroll-x-auto">
    <!-- event-wise -->
    <div *ngIf="active === 'eventwise'" class="flex flex-col gap-6">
<!-- TESORO -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >TESORO-TREASURE HUNT</span
        >
        <div *ngIf="tesoro.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="tesoro.length" class="flex flex-col gap-0">
          <span *ngFor="let item of tesoro;let i = index" class="text-md font-semibold text-white"
            >{{i+1}}{{ i===1?'nd':'st'}} Prize - {{item.name | uppercase}} -{{item.college | uppercase}}
          </span>
        </div>
      </div>
<!-- TAUZIEHEN -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >TAUZIEHEN-TUG OF WAR</span
        >
        <div *ngIf="tesoro.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="tesoro.length" class="flex flex-col gap-0">
          <span *ngFor="let item of tesoro;let i = index" class="text-md font-semibold text-white"
            >{{i+1}}{{ i===1?'nd':'st'}} Prize - {{item.name | uppercase}} -{{item.college | uppercase}}
          </span>
        </div>
      </div>
<!-- NRITYA -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >NRITYA-GROUP</span
        >
        <div *ngIf="tesoro.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="tesoro.length" class="flex flex-col gap-0">
          <span *ngFor="let item of tesoro;let i = index" class="text-md font-semibold text-white"
            >{{i+1}}{{ i===1?'nd':'st'}} Prize - {{item.name | uppercase}} -{{item.college | uppercase}}
          </span>
        </div>
      </div>
    </div>
    <!-- college-wise -->
    <div
      *ngIf="active === 'collegewise'"
      class="px-6 flex flex-col gap-4 w-screen"
    >
      <div
        *ngFor="let item of overall; let i = index"
        class="flex px-1 py-1 w-full justify-between items-center text-sm sm:text-base font-medium md:text-xl md:font-semibold text-white bg-neutral-200/10 md:px-4 gap-10"
      >
        <div class="w-4/5">
          <span class="whitespace-nowrap"
            >{{ i + 1 }}. {{ item._id | uppercase }}</span
          >
        </div>
        <span class="w-1/5 bg-black/30 px-4 py-2 md:px-20 md:py-4">{{
          item.totalPoints
        }}</span>
      </div>
    </div>
  </div>
</div>
