<div class="bg-[#00002C] h-screen items-center flex flex-col gap-12 pt-20">
    <div class="text-2xl font-bold text-white">POINT TABLE</div>
    <div class="flex justify-between gap-16">
        <span class="text-lg font-semibold text-white focus:underline-offset-1">EVENT WISE</span>
        <span class="text-lg font-semibold text-white focus:underline-offset-1">COLLEGE WISE</span>
    </div>
<div class="overscroll-x-auto">
    <!-- event-wise -->
<div class="flex flex-col gap-6 ">
    <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2">INQUIZATE</span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
    </div>
    <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2">INQUIZATE</span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
    </div>
    <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2">INQUIZATE</span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
        <span class="text-md font-semibold text-white">1st Prize - Niranjan V - NILGIRI COLLEGE OF ARTS AND SCIENCE </span>
    </div>
</div>
    <!-- college-wise -->
    <div class="px-6 flex flex-col gap-12">
       <div class="flex justify-between items-center text-xl font-semibold text-white bg-[#00002C]/40  gap-10">
            <span>1. NILGIRI COLLAGE OF ARTS AND SCIENCE</span>
            <span class="px-3">-</span>
            <span class="bg-black px-20 py-4">45 POINTS</span>
       </div> 
       <div class="flex justify-between items-center text-xl font-semibold text-white bg-[#00002C]/40  gap-10">
            <span>1. NILGIRI COLLAGE OF ARTS AND SCIENCE</span>
            <span class="px-3">-</span>
            <span class="bg-black px-20 py-4">45 POINTS</span>
       </div> 
    </div>
</div>
</div>
