<div
  class="bg-[#00002C] h-min items-center flex flex-col gap-12 pt-20 items-center resultbg"
>
  <div class="text-2xl font-bold text-white">POINT TABLE</div>
  <div class="flex justify-between gap-16">
    <span
      [ngClass]="{ 'border-b border-white text-white': active === 'eventwise' }"
      class="text-lg font-semibold focus:underline-offset-1 text-red-300"
      (click)="active = 'eventwise'"
      >EVENT WISE</span
    >
    <span
      [ngClass]="{
        'border-b border-white text-white': active === 'collegewise'
      }"
      class="text-lg font-semibold focus:underline-offset-1 text-red-300"
      (click)="active = 'collegewise'"
      >COLLEGE WISE</span
    >
  </div>
  <div class="overscroll-x-auto">
    <!-- event-wise -->
    <div *ngIf="active === 'eventwise'" class="flex flex-col gap-6 p-4">
      <!-- TESORO -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >TESORO-TREASURE HUNT</span
        >
        <div *ngIf="tesoro.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="tesoro.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of tesoro; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- TAUZIEHEN -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >TAUZIEHEN-TUG OF WAR</span
        >
        <div *ngIf="tauziehen.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="tauziehen.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of tauziehen; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- NRITYA -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >NRITYA-GROUP DANCE</span
        >
        <div *ngIf="nritya.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="nritya.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of nritya; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- BRICS -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >BRICS-5's FOOTBALL</span
        >
        <div *ngIf="brics.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="brics.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of brics; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- INQUIZATE -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >INQUIZATE-BUSINESS QUIZ</span
        >
        <div *ngIf="inquizate.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="inquizate.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of inquizate; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- MARCHE -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >MARCHE-CORPORATE WALK</span
        >
        <div *ngIf="marche.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="marche.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of marche; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- CAPTION STATERS -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >CAPTION STATERS-PRODUCTION LAUNCH</span
        >
        <div *ngIf="captionStaters.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="captionStaters.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of captionStaters; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- MENADZER -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >MENADZER-BEST MANAGER</span
        >
        <div *ngIf="menadzer.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="menadzer.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of menadzer; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- BIOSCOPE -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >BIOSCOPE-FILM REVIEW</span
        >
        <div *ngIf="bioScope.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="bioScope.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of bioScope; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- CICADA -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >CICADA-DEBUGGING</span
        >
        <div *ngIf="cicada.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="cicada.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of cicada; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- GRAPHICA -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >GRAPHICA-WEB DESIGNING</span
        >
        <div *ngIf="graphica.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="graphica.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of graphica; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- PSY-N-TWISTS -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >PSY-N-TWISTS-PSY GAMES</span
        >
        <div *ngIf="psy.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="psy.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of psy; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
      <!-- GRAFIA -->
      <div class="flex flex-col gap-6">
        <span class="text-2xl text-white font-bold mb-2"
          >GRAFIA-VIDEO GRAPHY</span
        >
        <div *ngIf="grafia.length === 0">
          <span class="snipper text-white font-light animate-pulse"
            >Result not declared yet</span
          >
        </div>
        <div *ngIf="grafia.length" class="flex flex-col gap-0">
          <span
            *ngFor="let item of grafia; let i = index"
            class="text-md font-semibold text-white"
            >{{ i + 1 }}{{ i === 1 ? "nd" : "st" }} Prize -
            {{ item.name | uppercase }} -{{ item.college | uppercase }}
          </span>
        </div>
      </div>
    </div>
    <!-- college-wise -->
    <div
      *ngIf="active === 'collegewise'"
      class="px-6 flex flex-col gap-4 w-screen"
    >
      <div
        *ngFor="let item of overall; let i = index"
        class="flex px-1 py-1 w-full justify-between items-center text-sm sm:text-base font-medium md:text-xl md:font-semibold text-white bg-neutral-200/10 md:px-4 gap-10"
      >
        <div class="w-4/5">
          <span class="whitespace-nowrap"
            >{{ i + 1 }}. {{ item._id | uppercase }}</span
          >
        </div>
        <span class="w-1/5 bg-black/30 px-4 py-2 md:px-20 md:py-4"
          >{{ item.totalPoints }}</span
        >
      </div>
    </div>
  </div>
</div>
