
  .swiper {
    width: 100%;

  }
  
  .swiper-slide {

    width: 280px;
    height: 295px;
   filter: blur(3px) brightness(.8);

   clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  }
  .swiper-slide-active{
   filter: blur(0px) brightness(1);
  }
  .hexagon{
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
      
  }
  .hexagon-inner{
      clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  }
  .swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right {
      background-image: none;
  }
  
  