<div class="">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper flex ">
          <div class="swiper-slide ">
            <div
          class="flex relative h-[295px] w-[280px]  bg-[#D48E05] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold">TEROSO</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">TREASURE HUNT</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-teroso.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
          </div>
        </div>
          </div>
          <div class="swiper-slide ">
            <div
          class="flex relative h-[295px] w-[280px]  bg-[#D48E05] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold">TEROSO</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">TREASURE HUNT</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-teroso.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
          </div>
        </div>
          </div>
          <div class="swiper-slide ">
            <div
          class="flex relative h-[295px] w-[280px]  bg-[#D48E05] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold">TEROSO</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">TREASURE HUNT</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-teroso.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
          </div>
        </div>
          </div>
        </div>
      </div>

</div>

