<div class="bg-[#00002C] h-screen ">
    <app-navbar></app-navbar>
    <div></div>
    <div class="h-20 w-full justify-end flex items-center bottom fixed">
        <div class="flex gap-6">
            
            <button class="text-xl font-semibold px-4 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]">REGISTER</button>
            <button class="text-xl font-semibold px-4 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]">RESULTS</button>
        </div>
    </div>
</div>