<div class="bg-[#00002C] h-screen ">
    <app-navbar></app-navbar>
    <div class="flex flex-col mt-16 ">
        <div class="flex justify-between px-12"> 
            <div class="text-white">
                <ul class="space-y-6 text-lg">
                    <li>This is a group event.</li>
                    <li> • Each team should consist of 4 members. </li>
                    <li> • More than one team can participate from the same college.</li>
                    <li> • Usage of mobile phones strictly prohibited for the event</li>
                    <li>• The participating teams should strictly follow the instructions, rules 
                        and regulations for the successful completion of the event.</li>
                </ul>
            </div>
            <div></div>
        </div>
        <div></div>
    </div>
    <!-- bottom buttons -->
    <div class=" w-full justify-end flex items-center bottom-0 fixed bg-[#00002C]">
        <div class="flex gap-6 px-8 py-8">
            <a href=""><button class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]">REGISTER</button></a>
            <a href=""><button class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]">RESULTS</button></a>
        </div>
    </div>
</div>