<div class="bg-[#00002C] h-screen">
  <div class="overflow-x-auto h-full">
    <app-navbar></app-navbar>
    <div class="flex flex-col mt-10">
      <div class="flex justify-between gap-20 px-20">
        <div class="text-white max-w-4xl">
          <ul class="space-y-6 text-xl">
            <li>Individual participation</li>
            <li>Own laptop is required</li>
            <li>Software allowed are Figma/Adobe XD/Sketch/Photoshop</li>
            <li>No references and design templates.</li>
          </ul>
        </div>
        <div>
          <div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">GRAPHICA</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">WEB DESIGNING</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-graphica.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom buttons -->
  <div class="w-full justify-end flex items-center bottom-0 fixed bg-[#00002C]">
    <div class="flex gap-6 px-8 py-4">
      <a href="https://forms.gle/k3bsosx8QaQ26MBi6"
        ><button
          class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]"
        >
          REGISTER
        </button></a
      >
      <a routerLink="/point-table"
        ><button
          class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]"
        >
          RESULTS
        </button></a
      >
    </div>
  </div>
</div>
