<div class="bg-[#00002C] h-screen">
  <div class="overflow-x-auto h-full">
    <app-navbar></app-navbar>
    <div class="px-12 mb-5">
      <h2 class="text-white text-xl">Venue:</h2>
      <h2 class="text-white text-xl">Contact:</h2>
    </div>
    <div class="flex px-12">
      <h1 class="text-2xl text-white font-semibold underline mb-6">Rules and Regulations</h1>
    </div>
    <div class="flex flex-col mt-10">
      <div class="flex md:justify-between md:gap-20 pl-12 pr-4">
        <div class="text-white max-w-4xl">
          <ul class="space-y-6 text-xl">
            <li>More than one team can participate from the same college.</li>
            <li>Double elimination tournament</li>
            <li>Minimum 10 players per team</li>
            <li>
              All players must wear proper shoes, pants/shorts, and shirt. Team
              T-shirts are optional
            </li>
            <li>No changes to the roster after the start of the first game.</li>
            <li>Line-up is due 5 minutes before the game starts.</li>
            <li>Referee decision will be final.</li>
          </ul>
        </div>
        <div>
          <div
            class="md:flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hidden hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">TAUHIEZEN</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">TUG OF WAR</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-tauhiezen.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 10,000/-</span>
                <span>2nd Prize:₹ 5,000/-</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bottom buttons -->
  <div class="w-full justify-end flex items-center bottom-0 fixed bg-[#00002C]">
    <div class="flex gap-6 px-8 py-4">
      <a href="https://forms.gle/k3bsosx8QaQ26MBi6"
        ><button
          class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]"
        >
          REGISTER
        </button></a
      >
      <a routerLink="/point-table"
        ><button
          class="text-xl font-semibold px-8 py-2 rounded-xl border-2 border-[#D48E05] text-white bg-[#00002C]"
        >
          RESULTS
        </button></a
      >
    </div>
  </div>
</div>
