<div class="bg-[#00002C] w-screen">
  <div
    class="h-screen w-full flex items-center flex-col gap-8 pt-8 container mx-auto"
  >
    <span class="text-3xl text-white"> Add Result</span>

    <form class="flex flex-col gap-4 w-full" action="" (ngSubmit)="addResult()">
      <!-- Event -->
      <label
      for="username"
      class="ml-2  text-medium cursor-text text-white"
      >Event</label
    >
      <select name="event"  [(ngModel)]="event" class="w-full py-3">
        <option disabled value="">Please select one</option>
        <option value="tesoro">tesoro</option>
        <option value="tauziehen">tauziehen</option>
        <option value="nritya">nritya</option>
        <option value="brics">brics</option>
        <option value="inquizate">inquizate</option>
        <option value="marche">marche</option>
        <option value="captionStaters">captionStaters</option>
        <option value="menadzer">menadzer</option>
        <option value="bioScope">bioScope</option>
        <option value="cicada">cicada</option>
        <option value="psy">psy</option>
        <option value="grafia">grafia</option>

      </select>
      <!-- Name -->
      <div class="flex items-center justify-center w-full">
        <div class="relative w-full">
          <label
          for="username"
          class="ml-2  text-medium cursor-text text-white"
          >Name</label
        >
          <input
            type="text"
            id="username"
            class="w-full rounded px-2 py-3 border-b py-1 focus:outline-none focus:border-purple-600 focus:border-b-2 transition-colors peer"
            autocomplete="off"
            name="name"
            [(ngModel)]="name"
          />

        </div>
      </div>
      <!-- College -->
      <div class="flex items-center justify-center w-full">
        <div class="relative w-full">
          <label
          for="username"
          class="ml-2  left-0 top-1 text-black text-medium cursor-text text-white"
          >College</label
        >
          <input
            type="text"
            id="username"
            class="w-full rounded px-2 py-3 border-b py-1 focus:outline-none focus:border-purple-600 focus:border-b-2 transition-colors peer"
            autocomplete="off"
            name="college"
            [(ngModel)]="college"
          />

        </div>
      </div>
      <!-- Position -->
      <label
      for="username"
      class="ml-2  left-0 top-1 text-black text-medium cursor-text text-white"
      >Positon</label
    >
      <select name="positon" [(ngModel)]="position" class="w-full py-3">
        <option disabled value="">Please select one</option>
        <option value="tesoro">1</option>
        <option value="tauziehen">2</option>

      </select>

      <!-- Point -->
      <div class="flex items-center justify-center w-full">
        <div class="relative w-full">
          <label
          for="username"
          class="ml-2 text-white  left-0 top-1 text-black text-medium cursor-text text-whitetransition-all"
          >Point</label
        >
          <input
            type="number"
            id="username"
            class="w-full rounded px-2 py-3 border-b py-1 focus:outline-none focus:border-purple-600 focus:border-b-2 transition-colors peer"
            autocomplete="off"
            name="mark"
            [(ngModel)]="mark"
          />

        </div>
      </div>
      <button class="w-full mx-auto py-4 bg-red-500 text-white rounded ">Add Result</button>
    </form>
  </div>
  <!-- results -->
  <div class="container mx-auto px-5">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Event</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">college</th>
            <th scope="col" class="px-6 py-3">Point</th>
            <th scope="col" class="px-6 py-3">position</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of results"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
{{item.event}}
            </th>
            <td class="px-6 py-4">{{item.name}}</td>
            <td class="px-6 py-4">{{item.college}}</td>
            <td class="px-6 py-4">{{item.position}}</td>
            <td class="px-6 py-4">{{item.mark}}</td>
            <td class="px-6 py-4"><button (click)='deleteOne(item._id)' class="bg-red-400 text-white px-4 py-2 w-min rounded">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
