<div class="bg-[#00002C] scroll-smooth w-screen">
  <div class="w-full h-[910px]">
    <div class="w-full h-28 flex justify-start px-6 py-4">
      <img src="../../assets/images/png/ncas-logo.png" alt="" />
    </div>
    <div
      class="h-full tarang-bg flex flex-col justify-center items-center w-full -mt-28"
    >
      <img class="pt-16" src="../../assets/images/png/tarang-logo.png" alt="" />
    </div>
  </div>
  <div class="w-full -mt-10 flex justify-center pb-40 triangle-bg">
    <div class="flex gap-6 lg:gap-16 h-64 md:flex hidden">
      <a href="#events" class="">
        <div
          class="flex flex-col items-center justify-center gap-8 h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-blue-900 hover:bg-blue-900 duration-200 bg-[#00001C]"
        >
          <div>
            <img
              class="w-28 h-28"
              src="../../assets/images/png/events.png"
              alt=""
            />
          </div>
          <div class="text-xl text-white font-semibold">EVENTS</div>
        </div>
      </a>
      <!--google form registrstion link -->
      <a href="https://forms.gle/k3bsosx8QaQ26MBi6">
        <div
          class="flex flex-col items-center justify-center gap-8 h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-blue-900 hover:bg-blue-900 duration-200 bg-[#00001C]"
        >
          <div>
            <img
              class="w-28 h-28"
              src="../../assets/images/png/registration.png"
              alt=""
            />
          </div>
          <div class="text-xl text-white font-semibold">REGISTRATION</div>
        </div>
      </a>
      <a routerLink="/point-table">
        <div
          class="flex flex-col items-center justify-center gap-8 h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-blue-900 hover:bg-blue-900 duration-200 bg-[#00001C]"
        >
          <div>
            <img
              class="w-28 h-28"
              src="../../assets/images/png/results.png"
              alt=""
            />
          </div>
          <div class="text-xl text-white font-semibold">RESULT</div>
        </div>
      </a>
    </div>
  </div>
  <div class="eventbg">
    <div class="mt-8" id="events">
      <div class="flex justify-center pb-20">
        <span class="text-7xl font-semibold text-white">EVENTS</span>
      </div>
      <!-- desktop view -->
      <div class="lg:flex flex-col mr-40 items-center hidden">
        <div class="flex xl:gap-16 gap-8">
          <a routerLink="teroso"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">TEROSO</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">TREASURE HUNT</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-teroso.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
            </div>
          </div></a>
          <a routerLink="nritya"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">NIRTYA</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">GROUP DANCE</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-nirtya.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 10,000/-</span>
                <span>2nd Prize:₹ 5,000/-</span>
              </div>
            </div>
          </div></a>
          <a routerLink="tauhiezen"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">TAUHIEZEN</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">TUG OF WAR</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-tauhiezen.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 10,000/-</span>
                <span>2nd Prize:₹ 5,000/-</span>
              </div>
            </div>
          </div></a>
        </div>
        <div class="flex xl:gap-16 gap-8 -my-16 xl:-my-10">
          <div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hexagon invisible"
          >
            <div
              class="h-[270px] w-[260px] gap-8 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">TEROSO</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">TREASURE HUNT</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-teroso.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
            </div>
          </div>
         <a routerLink="brics"> <div
          class="flex relative h-[295px] w-[280px] my-2 bg-[#D48E05] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold">BRICS</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">5's FOOTBALL</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-brics.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
          </div>
        </div></a>
          <a routerLink="marche"><div  
            class="flex relative h-[295px] w-[280px] my-2 bg-[#FF3A2F] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">MARCHE</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">CORPORATE WALK</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-marche.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
          <a routerLink="inquizate"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#FF3A2F] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">INQUIZATE</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">BUSINESS QUIZ</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-inquizate.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
        </div>
        <div class="flex xl:gap-16 gap-8">
         <a routerLink="mendazer"> <div
          class="flex relative h-[295px] w-[280px] my-2 bg-[#FF3A2F] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold menbg">MENDAZER</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">BEST MANAGER</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-mendazer.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold flex flex-col">
              <span>1st Prize:₹ 3,023/-</span>
              <span>2nd Prize:₹ 1,023/-</span>
            </div>
          </div>
        </div></a>
          <a routerLink="bioscope"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#FF3A2F] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">BIOSCOPE</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">FILM REVIEW</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event- bioscope.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
          <a routerLink="cicada"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">CICADA</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">DEBUGGING</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-cicada.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
        </div>
        <div class="flex xl:gap-16 gap-8 -my-16 xl:-my-10">
          <a routerLink="graphica"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon invisible"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">GRAPHICA</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">WEB DESIGNING</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-graphica.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
          <a routerLink="graphica"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">GRAPHICA</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">WEB DESIGNING</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-graphica.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
          <a routerLink="psy-ntwists"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">PSY-N-TWISTS</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">PSY-GAMES</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-psy-twists.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
         <a routerLink="grafia"> <div
          class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon"
        >
          <div
            class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
          >
            <div class="text-2xl font-bold">GRAFIA</div>
            <div class="flex gap-6 items-center justify-between">
              <div class="text-lg font-bold">VIDEOGRAPHY</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-grafia.png"
                  alt=""
                />
              </div>
            </div>
            <div class="text-lg font-bold flex flex-col">
              <span>1st Prize:₹ 3,023/-</span>
              <span>2nd Prize:₹ 1,023/-</span>
            </div>
          </div>
        </div></a>
        </div>
        <div class="flex xl:gap-16 gap-8">
          <a routerLink="caption-starters"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#6C63FF] justify-center items-center hexagon invisible"
          >
            <div
              class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">CAPTION STATERS</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">PRODUCT LAUNCH</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-inquizate.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div></a>
          <div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#ED00B0] justify-center items-center hexagon"
          >
            <div
              class="px-4 h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold mt-3">CAPTION STATERS</div>
              <div class="flex gap-6 items-center justify-between">
                <div class="text-lg font-bold">PRODUCT LAUNCH</div>
                <div>
                  <img
                    class="h-16 w-16"
                    src="../../assets/images/png/event-inquizate.png"
                    alt=""
                  />
                </div>
              </div>
              <div class="text-lg font-bold flex flex-col">
                <span>1st Prize:₹ 3,023/-</span>
                <span>2nd Prize:₹ 1,023/-</span>
              </div>
            </div>
          </div>
          <a routerLink="gaming"><div
            class="flex relative h-[295px] w-[280px] my-2 bg-[#ED00B0] justify-center items-center hexagon"
          >
            <div
              class="h-[270px] w-[260px] gap-8 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
            >
              <div class="text-2xl font-bold">GAMING</div>
              <div>
                <img
                  class="h-16 w-16"
                  src="../../assets/images/png/event-gaming.png"
                  alt=""
                />
              </div>
              <div class="text-lg font-bold">FUN ZONE</div>
            </div>
          </div></a>
        </div>
      </div>
      <!-- mobile view -->
      <div class="lg:hidden flex overflow-hidden">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper flex">
            <div class="swiper-slide">
              <div
                class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
              >
                <div class="text-2xl font-bold">TEROSO</div>
                <div class="flex gap-6 items-center justify-between">
                  <div class="text-lg font-bold">TREASURE HUNT</div>
                  <div>
                    <img
                      class="h-16 w-16"
                      src="../../assets/images/png/event-teroso.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
              >
                <div class="text-2xl font-bold">TEROSO</div>
                <div class="flex gap-6 items-center justify-between">
                  <div class="text-lg font-bold">TREASURE HUNT</div>
                  <div>
                    <img
                      class="h-16 w-16"
                      src="../../assets/images/png/event-teroso.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div
                class="h-[270px] w-[260px] gap-4 bg-white hexagon-inner bg-[#D9D9D9] hover:text-white hover:bg-gradient-to-tr hover:from-[#00001C] hover:to-[#680167] flex flex-col justify-center items-center"
              >
                <div class="text-2xl font-bold">TEROSO</div>
                <div class="flex gap-6 items-center justify-between">
                  <div class="text-lg font-bold">TREASURE HUNT</div>
                  <div>
                    <img
                      class="h-16 w-16"
                      src="../../assets/images/png/event-teroso.png"
                      alt=""
                    />
                  </div>
                </div>
                <div class="text-lg font-bold">1 Prize:₹ 10,000/-</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-20 md:flex justify-center">
      <div class="flex flex-col md:gap-12 gap-16 items-center">
        <span
          class="rounded-lg px-16 py-3 bg-[#51015A] border border-[#FF61F4] text-white font-semibold text-xl"
          >CONTACT DETAILS</span
        >
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-8 lg:12 gap-12">
          <div
            class="bg-white rounded-3xl flex flex-col items-center min-w-[340px] lg:px-6"
          >
            <span
              class="rounded-xl px-6 text-white py-3 bg-[#51015A] border border-[#FF61F4] font-semibold text-lg -mt-6"
              >STAFF COORDINATORS</span
            >

            <div
              class="text-xl font-semibold flex justify-center flex-col py-16 gap-3"
            >
              <div class="flex justify-between">
                <span>Dr. Karthick.K </span>
                <span>- 9600549339</span>
              </div>
              <div class="flex justify-between">
                <span>Dr. Muhsina Lubaiba</span>
                <span>- 7034574188</span>
              </div>
              <div class="flex justify-between">
                <span>Mr. Muthukumar P</span>
                <span>- 9790041715 </span>
              </div>
            </div>
          </div>
          <div
            class="bg-white rounded-3xl flex flex-col items-center min-w-[400px] lg:px-6"
          >
            <span
              class="rounded-xl px-6 text-white py-3 bg-[#51015A] border border-[#FF61F4] font-semibold text-lg -mt-6"
              >STUDENT COORDINATORS</span
            >
            <div class="text-xl font-semibold flex flex-col py-10 gap-3">
              <div class="flex justify-between px-4">
                <span>Mr. Rahul </span>
                <span>- 9442721541</span>
              </div>
              <div class="flex justify-between px-4">
                <span>Mr. Mohammed Savad</span>
                <span>- 7510942572</span>
              </div>
              <div class="flex justify-between px-4">
                <span>Mr. Manikandan</span>
                <span>- 9943685998</span>
              </div>
              <div class="flex justify-between px-4">
                <span>Ms. Minnu Susan Chacko</span>
                <span>- 9207045038</span>
              </div>
              <div class="flex justify-between px-4">
                <span>Mr. S.Muhammed Misbah</span>
                <span>- 9946711668</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-red-600 w-full h-20"></div>
</div>
