<div class="bg-[#00002C]">
  <div class="w-full h-[910px]">
    <div class="w-full h-28 bg-transparent"></div>
    <div
      class="h-full tarang-bg flex flex-col justify-center items-center w-full -mt-28"
    >
      <img class="pt-16" src="../../assets/images/png/tarang-logo.png" alt="" />
    </div>
  </div>
  <div class="w-full -mt-10 flex justify-center pb-40 triangle-bg">
    <div class="flex gap-16 h-64">
      <div
        class="h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-0 hover:bg-blue-900 delay-150 bg-[#00001C]"
      ></div>
      <div
        class="h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-0 hover:bg-blue-900 delay-150 bg-[#00001C]"
      ></div>
      <div
        class="h-full rounded-[33px] border border-[#DB6A01] w-52 hover:border-0 hover:bg-blue-900 delay-150 bg-[#00001C]"
      ></div>
    </div>
  </div>
  <div class="mt-8">
    <div class="flex justify-center pb-20">
        <span class="text-7xl font-semibold text-white">EVENTS</span>
    </div>
    <div class="flex flex-col mr-40 items-center">
        <div class="flex gap-16  ">
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
        </div>
        <div class="flex gap-16  -my-10 ">
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon invisible"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon "></div>
        </div>
        <div class="flex gap-16  ">
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
        </div>
        <div class="flex gap-16  -my-10 ">
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon invisible"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon "></div>
        </div>
       
        <div class="flex gap-16  ">
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon invisible"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon"></div>
          <div class="flex flex-col relative h-[295px] w-[280px] my-2 bg-[#D9D9D9] border-8 justify-center items-center transition hexagon "></div>
        </div>
    </div>
  </div>
  <div class="mt-16">
    <div class="flex flex-col gap-12 items-center">
      <span class="rounded-lg px-16 py-3 bg-[#FE8899] text-white font-semibold text-xl">CONTACT DETAILS</span>
      <div class="flex gap-12"> 
        <div class="bg-white rounded-3xl flex flex-col items-center h-72 w-[500px] ">
          <span class="rounded-xl px-6 text-white py-3 bg-[#FE8899] font-semibold text-lg -mt-6">STAFF COORDINATORS</span>
          <div>

          </div>
        </div>
        <div class="bg-white rounded-3xl flex flex-col items-center h-72 w-[500px] ">
          <span class="rounded-xl px-6 text-white py-3 bg-[#FE8899] font-semibold text-lg -mt-6">STUDENT COORDINATORS</span>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
